.main-weather-card {
    /* flex: 1; */
    max-width: 580px;
    /* max-height: 300px; */

    display: flex;
    flex-direction: column;
    background-color: var(--color-background, );
    box-shadow: var(--shadow);
    font-family: 'Exo', sans-serif;
}

.main-weather-card .temp-N-other-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 270px; */
    /* background-color: aliceblue; */
}

.temp-N-other-details .title {

    width: 100%;
    height: 28px;
    text-align: start;
    font-size: 10px;
    color: azure;
    margin-bottom: 8px;
    padding-left: 16px;
    font-family: 'Exo', sans-serif, Segoe WP, Arial;
}

.temp-N-alerts {
    display: flex;
    align-items: center;
    gap: 8px;
    backdrop-filter: blur(50px);   
}

.temp-N-other-details .temp-N-clouds {
    width: 320px;
    height: 187px;
    padding: 16px 32px 16px 36px;

    backdrop-filter: blur(10px);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    color: #fff;

    display: flex;
    align-items: center;
    font-family: 'Exo', sans-serif, Segoe WP, Arial;
}

.temp-N-clouds .cloud-des {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: -32px;
    padding:  16px 0;
}

#cover-dir {
    position: absolute;
    bottom: 32px;
    right: 16px;
    display: flex;
    height: 32px;

    font-size: 14px;
    /* margin-right: 10px;
    margin-left: -36px; */

    gap: 8px;
}

#cover-dir .wind-dir {
    position: relative;
    top: 0;
    right: 0;
    font-size: 32px;
}

.feels-like {
    margin-left: 8px;
    padding: 0 0 32px 16px;
}

.feels-like .temp {
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 52px;
    font-weight: 600;
    color: #fff;
}

.feels-like .temp span {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
}

.feels {
    font-size: 12px;
}

.feels strong {
    margin-left: 4px;
    font-size: 11px;
}

.highligts-container {
    display: flex;
    flex-direction: column;
    margin-left: 0rem;
    margin-top: -0.75rem;
    padding: 4px;
    padding-top: 1rem;
    width: 96%;
    background: rgba(215, 228, 228, 0.993);
    border-radius: 8px;
    border-top-left-radius: 0;
    /* border-top-right-radius: 0; */
}

.highlights {
    display: flex;
    flex-wrap: wrap;

    min-width: 300px;
    /* height: 86px; */

    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    margin: 1px 8px;
    padding: 0;

    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0);

    font-family: 'Exo', sans-serif, Segoe WP, Arial;
}

.bold {
    text-decoration: overline;
    font-size: 18px;
    font-weight: 700;

}

.highlights .hl-box {

    padding: 0px 2px;
    font-size: 12px;
    border-radius: 5px;
}

.hl-box .h-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

    color: var(--color-background, #001e41);
    text-align: center;
}

.h-block .h {
    font-size: 12px;
}

.h-block .body p {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}


@media (max-width: 480px) { 
    
    .main-weather-card {
        
    }

    .temp-N-alerts .temp-N-clouds{
        width: 100%;
        height: max-content;
        padding: 8px 32px 8px 36px;
    }

    .temp-N-other-details{
        width: 100%;
    }

    .highligts-container{
        width: 100%;
    }
.temp-N-alerts {
    flex-direction: column-reverse;  
  }

}