/* Add this to your main CSS file or index.html */
@import "https://unpkg.com/leaflet@1.9.4/dist/leaflet.css";

/*--------------------------------------------------------------------------------------------------*/
/* General Styles */
.grid-container {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header, content, footer */
  grid-template-columns: 1fr; /* Single column for now to accommodate fixed sidebar */
  height: 100vh; /* Full viewport height */
}

.grid-content 
{
  display: grid;
  grid-template-columns: 10% auto; /* Left: 8%, Center: */
  grid-template-rows: auto; /* No specific row height */
  height: 100%;
}

.grid-main 
{
  margin-left: 100%;

  padding: 8px;
  width:calc(100vw - 200px);
}

.column-main-header
{
  display: flex;
  flex-direction: row;
  gap: 16px;
  color: white;
  padding: 8px 32px;
  margin-top: 8px;
  width: max-content;

}

.column1-body1
{  
  padding: 16px;
  text-align: center;
  max-width: max-content;
}
.column1-body2 
{
  background: linear-gradient(to left,transparent, #f1f1f136, #f1f1f136, #f1f1f136, transparent);
  padding: 10px;
  text-align: center;
  width: 86%;
}

.h-scroll
{
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.h-scroll .box
{
  background: gray;
  padding:16px;
  text-align: center;
  border-radius: 8px;
  min-width: 86px
}

.right-column {
  background-color: #241f1f;
  width: 340px; /* Set fixed width for the right column */
  position: absolute;
  top: 1000;
  right: 0;
  height: calc(100vh - 100px);
  padding: 10px;
  z-index: 2; /* Ensure it is on top of other content */
}

.v-scroll
{
  display: flex;
  flex-direction: column;
  width: 100%;  
  height: 67vh;
  gap:8px;
  overflow: scroll;
  scrollbar-width: none;
}
.v-scroll .box
{
    padding: 8px;
    width: 100%;
    height: max-content;
    /* flex-wrap: wrap; */
    gap: 8px;
    background: #3a3a3ac7;
    border-bottom: gray solid 1px;
    border-radius: 8px;
}

.v-scroll #hourlyFC h6
{
  font-size: 14px;
  text-align: start;
  text-decoration:underline;
  margin-bottom: 8px;
  /* background: rgba(0, 0, 0, 0.205) */
}

.v-scroll #hourlyFC .hfc-content
{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}
#hourlyFC .hfc-content strong
{
  display: flex;
}

#hourlyFC .hfc-content span
{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  text-decoration: none;
}

.hfc-content span small
{
  font-size: 10px;
  margin-right: 4px;
}

.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100vw; /* 100% viewport width */
}


/* Responsive Styles
@media (max-width: 768px) {

 
  .h-scroll
  {
    width: 96vw;
    justify-content: start;
    overflow-x: scroll;
  }

  .terms-of-service
  {top: 96px;
    height: 100%;
    max-width: 100%;
  }
} */

/* Responsive Styles */
@media (max-width: 1200px) {
  .grid-content {
    grid-template-columns: 12% 60% 30%; /* Slightly adjust for smaller screens */
  } 
  .grid-main {
    margin-left: 12%; /* Adjust space for the sidebar */
    margin-right: 30%; /* Adjust for the right column */
  }
}

@media (max-width: 768px) {
  .grid-content {
    grid-template-columns: 100%; /* Stack columns for smaller screens */
  }

  .sidebar
  {
    display: none; /* Hide the sidebar and right column on smaller screens */
  }

  .grid-main {
    margin: 0;
    width: 100%;
  }
}
